.nav-menu {
  margin-left: 2rem;
}

.nav-menu-item {
  display: inline;
}

.nav-menu-link {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 3rem 2rem;
  text-transform: uppercase;
}

.nav-menu-text {
  margin-left: 1rem;
  position: relative;
}

.nav-menu-text::before {
  background: #fff;
  bottom: -1rem;
  content: "";
  height: 2px;
  position: absolute;
  transition: width 0.2s;
  width: 0;
}

.nav-menu-link:hover .nav-menu-text::before {
  width: 100%;
}

.nav-menu-item.dropdown {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    margin-left: 0.3rem;
    padding: 1rem;
    padding-bottom: 1rem;
  }
  .nav-menu-item.mobile-hidden,
  .nav-menu-text {
    display: none;
  }

  .nav-menu-item.dropdown {
    display: inline-block;
  }

  .nav-menu-link {
    font-size: 1.8rem;
    padding: 2.8rem 1.6rem;
  }
}
