.nav-menu {
  margin-left: 2rem;
}

.nav-menu-item {
  display: inline;
  vertical-align: top;
}

.nav-submenu-link,
.nav-menu-link {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav-menu-link {
  padding: 3rem 2rem;
}

.nav-submenu-link {
  padding: 1.1rem 1.5rem;
}

.nav-menu-text {
  margin-left: 1rem;
  position: relative;
}

.nav-submenu-text::before,
.nav-menu-text::before {
  background: #fff;
  bottom: -0.8rem;
  content: "";
  height: 2px;
  position: absolute;
  transition: width 0.2s;
  width: 0;
}

.nav-menu-link:hover .nav-menu-text::before,
.nav-submenu-link:hover .nav-submenu-text::before {
  width: 100%;
}

.nav-menu-item.dropdown {
  display: none;
}

.nav-menu-item.dropdown:hover .nav-submenu {
  display: block;
}

.nav-submenu {
  animation: showFade 0.5s;
  background: #141414;
  border: 0.1px solid #393939;
  border-radius: 0.5rem;
  display: none;
  padding: 0.2rem 0;
  position: relative;
  top: -2rem;
}

.nav-submenu-text {
  margin-left: 1rem;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    margin-left: 0.3rem;
    padding: 1rem;
    padding-bottom: 1rem;
  }
  .nav-menu-item.mobile-hidden,
  .nav-menu-text {
    display: none;
  }

  .nav-menu-item.dropdown {
    display: inline-block;
  }

  .nav-menu-link {
    font-size: 1.8rem;
    padding: 2.8rem 1.6rem;
  }
}
