.banners {
  align-items: center;
  display: flex;
  padding-top: 9.7rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.banner-slide {
  display: flex;
  position: relative;
}

.banner-slide-item {
  padding: 0 1rem;
  flex-shrink: 0;
  width: 90vw;
  position: relative;
}

.banner-slide-link {
  display: block;
  position: relative;
}

.banner-slide-link::before {
  border: none;
  border-radius: 0.5rem;
  content: "";
  position: absolute;
  inset: 0; /* top: 0 | bottom: 0 | left: 0 | rigth: 0 */
  transition: border 0.2s;
}

.banner-slide-link:hover::before {
  border: 0.1rem solid #fff;
}

.banner-slide-img {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
}

.banner-slide-title {
  animation: slideLeft 1s;
  left: 0;
  display: none;
  top: 0;
  width: 100%;
  position: absolute;
}

.banner-slide-title.active {
  display: block;
}

.banners .arrow-slider {
  height: 100%;
  margin-top: -2rem;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.banners .arrow-slider:hover {
  opacity: 1;
}

.banners .arrow-prev {
  padding: 0 3.6rem;
  left: 0;
}

.banners .arrow-next {
  padding: 0 3.6rem;
  right: 0;
}

.banners .controls-slider {
  bottom: 1rem;
  right: 13rem;
}

@media screen and (max-width: 1024px) {
  .banner-slide-item {
    width: 80vw;
  }

  .banners {
    padding-top: 8.6rem;
  }

  .banners .arrow-prev {
    padding: 0 1rem;
    left: 0;
  }

  .banners .arrow-next {
    padding: 0 1rem;
    right: 0;
  }

  .banners .controls-slider {
    right: 50%;
    transform: translateX(50%);
  }
}
